<h2 class="visually-hidden">Posts list</h2>
<div class="post-card__wrapper infinite-scroll">
  {{#each model as |post|}}
    <PostCard @model={{post}}
    />
  {{/each}}
</div>
<div class="post-card__button">
  <button class="button infinite-scroll__show-more">More</button>
</div>
