<div class="page-header__logo">
  {{#link-to "index" class="logo__link"}}
    <img class="page-header__logo-image" src="/assets/images/logo-1.svg" width="110" height="40" alt="Writer's logo">
  {{/link-to}}
</div>
<div class="page-header__sign-in">
  {{#link-to "sign-in" class="sign-in__link"}}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path
        d="M8 10v-5l8 7-8 7v-5h-8v-4h8zm2-8v2h12v16h-12v2h14v-20h-14z"
        fill="#000000">
      </path>
    </svg>
  {{/link-to}}
</div>
{{yield}}