<ul class="main-nav__list site-list">
  <li class="site-list__item site-list__item--active">
    {{#link-to "index"}}Home{{/link-to}}
  </li>
  <li class="site-list__item">
    {{#link-to "posts"}}Posts{{/link-to}}
  </li>
  <li class="site-list__item">
    {{#link-to "about"}}About{{/link-to}}
  </li>
</ul>
{{yield}}