<section class="post__comments">
  <h1 class="visually-hidden">Comments list</h1>
  <div class="post-comment__wrapper">
    {{#if model.comments}}
      {{#each model.comments as |comment|}}
        {{post-comment comment=comment showReply=true }}
      {{/each}}
    {{else}}
      <h2>No comments yet</h2>
    {{/if}}
  </div>
  {{comment-form comment=model}}
</section>
