<div class="page-header">
  <div class="page-header__logo">
  <a>
    <img class="page-header__logo-image" src="/assets/images/logo-1.svg" width="110" height="40" alt="Writer's logo">
  </a>
</div>
</div>