<article class="post-comment__item">
  <div class="post-comment__info">
    <a href="#">Username</a>
    <span>1 day ago</span>
  </div>
  <div class="post-comment__body">
    {{comment.body}}
  </div>
  {{#if showReply}}
    <div class="post-comment__footer">
      <button class="post-comment__inline-button" type="button" name="button" {{action toggleForm}}><span class="inline-button__divider"></span>Reply</button>
    </div>
    {{#if showForm}}
      {{comment-form comment=comment}}
    {{/if}}
    <div class="post-comment__child-comments">
      {{#each comment.comments as |childComment|}}
        {{post-comment comment=childComment}}
      {{/each}}
    </div>
  {{/if}}
</article>
