{{#if session.currentUser}}
  {{#link-to 'posts.new' tagName='button'}}Create new post{{/link-to}}
{{else}}
  <h1>{{#link-to 'sign-in'}}Sign in{{/link-to}} in order to add, edit and delete posts.</h1>
{{/if}}
<h1>WIP. Some filter options and post categories go here</h1>
