<nav class="main-nav">
  <ul class="main-nav__list site-list">
    <li class="site-list__item site-list__item--active"><a href="#">Home</a></li>
    <li class="site-list__item"><a href="#">Posts</a></li>
    <li class="site-list__item"><a href="#">About</a></li>
  </ul>
</nav>