<div class="posts__wrapper infinite-scroll">
  <h2 class="visually-hidden">Posts list</h2>
    <ul class="posts__list infinite-scroll__list">
    
    <li class="posts__item infinite-scroll__item">
      <img class="posts__image" src="assets/images/writer-1.jpg" alt="Charles Bukowski">
      <h3 class="posts__title">Bukowski’s poems were mangled by editors after his death. Now you can read his originals</h3>
      <time class="posts__date" datetime="2018-10-05">
        <div class="post__day">Oct 5</div>
      </time>
      <div class="post__duration">10 min read</div>
    </li>

    <li class="posts__item infinite-scroll__item">
      <img class="posts__image" src="assets/images/writer-2.jpg" alt="Dante Alighieri">
      <h3 class="posts__title">Dante's goal was 'to remove those living in this life from the state of misery and lead them to the state of bliss</h3>
      <time class="posts__date" datetime="2018-09-23">
        <div class="post__day">Sep 23</div>
      </time>
      <div class="post__duration">6 min read</div>
    </li>

    <li class="posts__item infinite-scroll__item">
      <img class="posts__image" src="assets/images/writer-3.jpg" alt="Fyodor Dostoevsky">
      <h3 class="posts__title">How Dostoevsky predicted Trump’s America</h3>
      <time class="posts__date" datetime="2018-09-15">
        <div class="post__day">Sep 15</div>
      </time>
      <div class="post__duration">8 min read</div>
    </li>
  
  </ul>
  <div class="posts__button">
    <button class="button infinite-scroll__show-more">More</button>
  </div>
</div>
{{outlet}}